@tailwind base;
@tailwind components;
@tailwind utilities;
/* li{
    width: 400px;
    position: relative;
    list-style: none;
}
h1{
    position: absolute;
    z-index: 1;
    top: 0;
}
img{
    width: 200px;
} */